<div class="page-wrapper">
  <div class="page-header">
    <a [routerLink]="['/']">Sofya Bazhenova</a>
  </div>
  <div class="page-body">
    <aside class="page-sidebar">
      <ul class="menu-list">
        <li class="menu-item" [routerLink]="['/']">
          Главная
        </li>
        <li class="menu-item">
          Обо мне
        </li>
        <li class="menu-item -parent">
          Проекты
          <div class="submenu">
            <ul class="submenu-list">
              <li class="menu-item">Иркутск</li>
              <li class="menu-item">Иркутск</li>
            </ul>
          </div>
        </li>
        <li class="menu-item" [routerLink]="'contacts'">
          Контакты
        </li>
      </ul>
      <footer class="page-footer">
        <a class="icon" href="https://www.instagram.com/meethoksef/" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a class="icon" href="https://t.me/disgustmeow" target="_blank">
          <fa-icon [icon]="faTelegram"></fa-icon>
        </a>
      </footer>
    </aside>
  </div>
  <router-outlet></router-outlet>
</div>


